# Fichiers d'environnement Python
.env
.env/

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers uploadés par les utilisateurs (backend Django)
back-end/media/
back-end/media/*

# Base de données locale
back-end/db.sqlite3

# Fichiers mis en cache Python
__pycache__/
*.py[cod]
*$py.class
