# Fichiers d'environnement Python
.env
.env/

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers uploadés par les utilisateurs (backend Django)
cors/media/
cors/media/*

# Base de données locale
cors/db.sqlite3

# Fichiers mis en cache Python
__pycache__/
*.py[cod]
*$py.class
